.SuggestionList{
    &-list{
        box-sizing: border-box;
        padding:.8em;
        width:100vw;
        overflow-x: auto;
        // &:hover{
        //     overflow-x:auto;
        // }

        display:flex;
        gap:3em;
    }
}

